version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: {{CONTAINER_NAME_DB}}
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
    env_file:
      - .env
    ports:
      - "127.0.0.1:{{PORT_DB_EXT}}:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - {{NETWORK_NAME}}

  api:
    image: ghcr.io/{{REPO_NAME}}-api:latest
    container_name: {{CONTAINER_NAME_API}}
    restart: always
    environment:
      - NODE_ENV=preproduction
      - DB_HOST=db
      - DB_USER=root
      - DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - DB_NAME=${DB_NAME}
      - PORT={{PORT_API_INT}}
    env_file:
      - .env
    ports:
      - "127.0.0.1:{{PORT_API_EXT}}:{{PORT_API_INT}}"
    depends_on:
      - db
    networks:
      - {{NETWORK_NAME}}

  frontend:
    image: ghcr.io/{{REPO_NAME}}-front:latest
    container_name: {{CONTAINER_NAME_FRONT}}
    restart: always
    environment:
      - VITE_API_URL={{API_URL}}
    ports:
      - "127.0.0.1:{{PORT_FRONT_EXT}}:80"
    depends_on:
      - api
    networks:
      - {{NETWORK_NAME}}

networks:
  {{NETWORK_NAME}}:
    driver: bridge
